.nav_bar {
    display: flex;
    width: 100vw;
    height: 15vh;
    min-height: 50px;
    position: relative;
  };

.nav_ul {
    display: flex;
    top: 50%;
    height: 18px;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
  };

.nav_bar li {
    font-size: 18px;
    font-weight: 600;
    top: 40%;
    margin-left: 70%;
    color: #979797;
  };

.nav_bar li:first-child {
    margin-left: 100%; 
  };

  
.logo_box {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  };
.logo_box img {
    margin-left: 17vw;
    border-radius: 100px;
    user-select: none;
  };